﻿@model IEnumerable<FixedDD.Models.AirLinesName>


<link href="~/Content/bootstrap-table.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-table.js"></script>


<div class="col-sm-12">
    <table class="table table-bordered table-condensed" data-height="400" data-toggle="table">
        <thead>
            <tr>
                <th>
                    AirLines Code
                </th>
                <th>
                    AirLines Name
                </th>
                <th>
                    Created Date
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @item.AL_Code
                    </td>
                    <td>
                        @item.AL_Name
                    </td>
                    <td>
                        @item.CreatedDate
                    </td>

                    <td>
                        <div class="btn-group">
                            <a href="/FixedDeparture/AirLinesNames/Edit/@item.id" class="btn btn-warning btn-xs" data-toggle="tooltip" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                            <a href="/FixedDeparture/AirLinesNames/Details/@item.id" class="btn btn-success btn-xs" data-toggle="tooltip" title="Detail"><span class="glyphicon glyphicon-fullscreen"></span></a>
                            @*<a href="/AirLinesNames/Delete/@item.id" class="btn btn-danger btn-xs" data-toggle="tooltip" title="Delete"><span class="glyphicon glyphicon-remove"></span></a>*@
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>