﻿@model FixedDD.Models.FlightSearchResults

@{
    ViewBag.Title = "Update Flight";
    Layout = "~/Views/Shared/SeeingoMaster.cshtml";
}

<script src="~/Scripts/jquery-1.11.3.min.js"></script>
<script src="~/clockpicker.js"></script>
<link href="~/clockpicker.css" rel="stylesheet" />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.id)
    <div class="panel panel-info">
        <div class="panel-heading PanelHeader">
            <span class="glyphicon glyphicon-plus"></span>&nbsp; Update Flight Result
            <a class="btn btn-warning btn-sm pull-right MarginTop5pxup" href="/FlightSearchResults/Index"><span class="glyphicon glyphicon-circle-arrow-left"></span> Back To List</a>
        </div>
        <div class="panel panel-body">
            <div class="panel panel-primary sad">
                <div class="panel panel-heading" style="padding: 0px 9px;height: 46px;">
                    <h4 style="color:#fff;"> Sector Details</h4>
                </div>
                <div class="panel panel-body" style="margin-top:-30px;">
                    <div class="row form-group">
                        <div class="col-sm-12">
                            <div class="Trip_Width">
                                <lable style="margin-right:36px;">Trip Type</lable>
                                @if (Model.Triptype == "One Way")
                                {
                                    <label class="radio-inline"><input type="radio" name="Triptype" id="Triptype" value="@Model.Triptype" checked>One Way</label>
                                    <label class="radio-inline"><input type="radio" name="Triptype" id="Triptype" value="@Model.Triptype" disabled>Round Trip</label>
                                }
                                else
                                {


                                    <label class="radio-inline"><input type="radio" name="Triptype" id="Triptype" value="@Model.Triptype" checked>Round Trip</label>
                                    <label class="radio-inline"><input type="radio" name="Triptype" id="Triptype" value="@Model.Triptype" disabled>One Way</label>
                                }
                            </div>
                        </div>
                    </div><hr />
                    <div class="row form-group">
                        <div class="col-sm-6">
                            <label>Form </label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-plane Fa_Rotation"></span></span>
                                <input type="text" class="form-control fontSize " id="OrgDestFrom" name="OrgDestFrom" value="@Model.OrgDestFrom" placeholder="Select Destination" required />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label>To </label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-plane Fa_Rotation"></span></span>
                                <input type="text" class="form-control fontSize" id="OrgDestTo" name="OrgDestTo" value="@Model.OrgDestTo" placeholder="Select Destination" required />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary sad">
                <div class="panel panel-heading" style="padding: 0px 9px;height: 46px;">
                    <h4 style="color:#fff;">Sector Type <span class="glyphicon glyphicon-arrow-right"></span> One Way</h4>
                </div>
                <div class="panel panel-body" style="margin-top:-30px;">
                    <div class="row form-group">
                        <div class="col-sm-2">
                            <label>Airlines Name</label>
                            <input type="text" name="AirLineName" id="AirLineName" placeholder="Enter AirLines Name.." value="@Model.AirLineName" class="form-control fontSize" readonly />
                        </div>
                        <div class="col-sm-2">
                            <label>Flight No.</label>
                            <input type="text" name="FlightNo" id="FlightNo" placeholder="Enter Flight No.." value="@Model.FlightNo" class="form-control fontSize" required />
                        </div>
                        <div class="col-sm-2 ">
                            <label>Dep Date</label>
                            <input type="text" name="Departure_Date" id="Departure_Date" placeholder="Selcet Date.." value="@Html.DisplayFor(modelItem => Model.Departure_Date)" class="form-control fontSize" required />
                        </div>
                        <div class="col-sm-2">
                            <label>Dep Time</label>
                            <div class="input-group clockpicker" id="DepartureTime">
                                <input type="text" name="DepartureTime" id="DepartureTime" value="@Model.DepartureTime" placeholder="Time.." class="form-control fontSize" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>
                            <script>
                                var input = $('#DepartureTime');
                                input.clockpicker({
                                    autoclose: true
                                });
                            </script>
                        </div>
                        <div class="col-sm-2">
                            <label>Arr Date</label>
                            <input type="text" name="Arrival_Date" id="Arrival_Date" placeholder="Select Date.." value="@Html.DisplayFor(modelItem => Model.Arrival_Date)" class="form-control fontSize" />
                        </div>
                        <div class="col-sm-2">
                            <label>Arr Time</label>
                            <div class="input-group clockpicker" id="ArrivalTime">
                                <input type="text" name="ArrivalTime" id="ArrivalTime" placeholder="Time.." value="@Model.ArrivalTime" class="form-control fontSize" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>
                            <script>
                                var input = $('#ArrivalTime');
                                input.clockpicker({
                                    autoclose: true
                                });
                            </script>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-2">
                            <label>Departure Terminal</label>
                            <input type="text" class="form-control fontSize" id="DepartureTerminal" name="DepartureTerminal" value="@Model.DepartureTerminal" placeholder="Enter Dep Terminal.." required />
                        </div>
                        <div class="col-sm-2">
                            <label>Arrival Terminal</label>
                            <input type="text" class="form-control fontSize" id="ArrivalTerminal" name="ArrivalTerminal" value="@Model.ArrivalTerminal" placeholder="Arr Terminal" required />
                        </div>                       
                        <div class="col-sm-2">
                            <label>PNR</label>
                            <input type="text" name="fareBasis" id="fareBasis" placeholder="Enter PNR.." value="@Model.fareBasis" class="form-control fontSize" required />
                        </div>
                        <div class="col-sm-4">
                            <label>Class Type</label>
                            <select name="ClassType" id="ClassType" class="form-control fontSize">
                                <option value="Business">Business</option>
                                <option value="Economy">Economy</option>
                            </select>
                            <script>
                                $('#ClassType').val('@Model.ClassType');
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            @if (Model.Triptype == "Round Trip")
            {
                <div class="panel panel-primary sad">
                    <div class="panel panel-heading" style="padding: 0px 9px;height: 46px;">
                        <h4 style="color:#fff;">Sector Type <span class="glyphicon glyphicon-arrow-right"></span> Round Trip </h4>
                    </div>
                    <div class="panel panel-body" style="margin-top:-30px;">
                        <div class="row form-group">
                            <div class="col-sm-2">
                                <label> Return Airlines Name</label>
                                <input type="text" name="Rt_AirLineName" id="Rt_AirLineName" value="@Model.Rt_AirLineName" placeholder="Select AirLines Name.." class="form-control fontSize" readonly />
                            </div>
                            <div class="col-sm-2">
                                <label>Return Flight No.</label>
                                <input type="text" name="Rt_FlightNo" id="Rt_FlightNo" value="@Model.Rt_FlightNo" placeholder="Enter Flight No.." class="form-control fontSize" />
                            </div>
                            <div class="col-sm-2 ">
                                <label>Return Dep Date</label>
                                <input type="text" name="Rt_Departure_Date" id="Rt_Departure_Date" placeholder="Selcet Date.." value="@Html.DisplayFor(modelItem => Model.Rt_Departure_Date)" class="form-control fontSize" />
                            </div>
                            <div class="col-sm-2">
                                <label>Return Dep Time</label>
                                <div class="input-group clockpicker" id="Rt_DepartureTime">
                                    <input type="text" name="Rt_DepartureTime" id="Rt_DepartureTime" placeholder="Rt_Dep. Time.." value="@Model.Rt_DepartureTime" class="form-control fontSize" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-time"></span>
                                    </span>
                                </div>
                                <script>
                                    var input = $('#Rt_DepartureTime');
                                    input.clockpicker({
                                        autoclose: true
                                    });
                                </script>
                            </div>
                            <div class="col-sm-2">
                                <label>Return Arr Date</label>
                                <input type="text" name="Rt_Arrival_Date" id="Rt_Arrival_Date" placeholder="Select Date.." value="@Html.DisplayFor(modelItem => Model.Rt_Arrival_Date)" class="form-control fontSize" />
                            </div>
                            <div class="col-sm-2">
                                <label>Return Arr Time</label>
                                <div class="input-group clockpicker" id="Rt_ArrivalTime">
                                    <input type="text" name="Rt_ArrivalTime" id="Rt_ArrivalTime" placeholder="Rt_Time.." value="@Model.Rt_ArrivalTime" class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-time"></span>
                                    </span>
                                </div>
                                <script>
                                    var input = $('#Rt_ArrivalTime');
                                    input.clockpicker({
                                        autoclose: true
                                    });
                                </script>
                            </div>

                        </div>
                        <div class="row form-group">
                            <div class="col-sm-2">
                                <label>Return Dep. Terminal</label>
                                <input type="text" class="form-control fontSize" id="Rt_DepartureTerminal" value="@Model.Rt_DepartureTerminal" name="Rt_DepartureTerminal" placeholder="Enter Dep Terminal.." />
                            </div>
                            <div class="col-sm-2">
                                <label>Return Arr. Terminal</label>
                                <input type="text" class="form-control fontSize" id="Rt_ArrivalTerminal" value="@Model.Rt_ArrivalTerminal" name="Rt_ArrivalTerminal" placeholder="Arr Terminal" />
                            </div>                          
                            <div class="col-sm-2">
                                <label> PNR</label>
                                <input type="text" name="Rt_fareBasis" id="Rt_fareBasis" placeholder="Enter PNR.." value="@Model.Rt_fareBasis" class="form-control fontSize" />
                            </div>
                            <div class="col-sm-4">
                                <label>Return Class Type</label>
                                <select name="Rt_ClassType" id="Rt_ClassType" class="form-control fontSize">
                                    <option value="Business">Business</option>
                                    <option value="Economy">Economy</option>
                                </select>
                                <script>
                                    $('#Rt_ClassType').val('@Model.Rt_ClassType');
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {

            }
            <div class="panel panel-primary sad">
                <div class="panel panel-heading" style="padding: 0px 9px;height: 46px;">
                    <h4 style="color:#fff;"> Seat Details</h4>
                </div>
                <div class="panel panel-body" style="margin-top:-30px;">
                    <div class="row form-group">
                        <div class="col-sm-2">
                            <label>Total Seats</label>
                            <input type="text" class="form-control fontSize" id="Total_Seats" name="Total_Seats" value="@Model.Total_Seats" placeholder="Enter Total Seats.." onkeyup="TotalSeat();" />
                        </div>
                        <div class="col-sm-2">
                            <label>Used Seats</label>
                            <input type="text" class="form-control fontSize" id="Used_Seat" name="Used_Seat" value="@Model.Used_Seat" placeholder="Used Seats.." onkeyup="TotalSeat();" />
                        </div>
                        <div class="col-sm-2">
                            <label>Avl Seats</label>
                            <input type="text" class="form-control fontSize" id="Avl_Seat" name="Avl_Seat" value="@Model.Avl_Seat" placeholder="" onkeyup="TotalSeat();" />
                        </div>
                        <div class="col-sm-2">
                            <label>Valid Till</label>
                            <input type="text" name="valid_Till" id="valid_Till" placeholder="Selcet Date.." value="@Html.DisplayFor(modelItem => Model.valid_Till)" class="form-control fontSize" />
                        </div>
                        <div class="col-sm-2">
                            <label>Bags Information</label>
                            <input type="text" name="BagInfo" id="BagInfo" class="form-control" placeholder="Enter Bag Infomartion.." value="@Model.BagInfo" />
                        </div>
                        <div class="col-sm-2">
                            <label>Fare Rule</label>
                            <select id="FareRule" name="FareRule" class="form-control fontSize">
                                <option value="R">Refundable</option>
                                <option value="N">Non-Refundable</option>
                            </select>
                            <script>
                                $('#FareRule').val('@Model.FareRule');
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 hidden">
                <input type="text" class="form-control fontSize common" id="ArrivalAirportName" name="ArrivalAirportName" placeholder="Enter Basic Fare.." value="@Model.ArrivalAirportName" />
            </div>
            <div class="col-sm-12 hidden">
                <input type="text" class="form-control" id="DepartureAirportName" name="DepartureAirportName" placeholder="Enter Basic Fare.." value="@Model.DepartureAirportName" />
            </div>
            <div class="col-sm-12 hidden">
                <input type="text" class="form-control" id="MarketingCarrier" name="MarketingCarrier" value="@Model.MarketingCarrier" />
            </div>
            <div class="panel panel-primary sad">
                <div class="panel panel-heading" style="padding: 0px 9px;height: 46px;">
                    <h4 style="color:#fff;">Fare Details</h4>
                </div>
                <div class="panel panel-body" style="margin-top:-30px;">                 
                    <div class="row form-group">                        
                        <div class="col-sm-3">
                            <label>Grand Total </label>
                            <input type="text" name="Grand_Total" id="Grand_Total" value="@Model.Grand_Total" onkeyup="addition(); flat();" class="form-control fontSize"/>
                        </div>
                        <div class="col-sm-3">
                            <label>Status</label>
                            <div class="checkbox">
                                @Html.EditorFor(model => model.Status)
                                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12">
                    <input type="submit" class="btn btn-warning btn-lg pull-right fontSizebtn" value="Save" />
                </div>
            </div>
        </div>

    </div>
}

<style>
    .Trip_Width {
        border: 1.4px solid #b2aeae;
        width: 48%;
        padding: 6px 78px;
    }

    .Fa_Rotation {
        transform: rotate(61deg);
        color: #337ab7;
        font-size: 22px;
    }

    .ui-datepicker {
        background: #333;
        border: 1px solid #555;
        color: #EEE;
    }

    .sad {
        box-shadow: 0 0 8px rgba(0,0,0,.5) !important;
    }

    .common {
    }

    .fontSize {
        font-size: 12px !important;
    }

    .fontSizebtn {
        width: 17%;
        font-size: 20px !important;
        font-family: sans-serif;
    }

    .timedate {
        width: 100%;
        height: 33px;
        padding: 12px;
    }
</style>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="~/dist/wickedpicker.min.js"></script>
<script src="~/Scripts/wickedpicker.js"></script>
<script src="~/Scripts/FltSearchResult.js"></script>
<link href="~/dist/wickedpicker.min.css" rel="stylesheet" />



