﻿@model FixedDD.Models.FlightSearchResults

@{
    ViewBag.Title = "Flight Search Results Details";
    Layout = "~/Views/Shared/SeeingoMaster.cshtml";
}

<div class="container-fluid">
    <div class="panel panel-primary" style="border: 1px solid #337ab7;">

        <div class="panel panel-heading">
            <span class="glyphicon glyphicon-fullscreen"></span> &nbsp; Flight Search Results List Details
            @{
                var stringurl = "";
                if (Session["isExecutive"].ToString() == "1")
                {
                    stringurl = "/FlightSearchResults";
                }
                else
                {
                    stringurl = "/FixedDeparture/FlightSearchResults";
                }
                <a class="btn btn-warning btn-sm pull-right MarginTop5pxup" href="@stringurl/Index"><span class="glyphicon glyphicon-circle-arrow-left"></span> Back To List</a>
            }
        </div>
        <div class="panel panel-body">

            <div class="row" style="margin-top:-26px;">
                <div class="col-sm-12">
                    <table class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th> Flight Search Results  Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <p class="Giant_Marginbottom1"><b>Trip Type:</b> @Model.Triptype</p>
                                    <p class="Giant_Marginbottom1"><b>Destination From:</b>@Model.OrgDestFrom </p>
                                    <p class="Giant_Marginbottom1"><b>Destination To:</b> @Model.OrgDestTo</p>
                                    <p class="Giant_Marginbottom1"><b>AirLine Name:</b>@Model.AirLineName </p>
                                    <p class="Giant_Marginbottom1"><b>Flight No:</b>@Model.FlightNo</p>
                                    @if (Model.Rt_AirLineName == null)
                                    {
                                        <p class="Giant_Marginbottom1" style="display:none">
                                            <b>Return AirLines Name :</b> @Model.Rt_AirLineName
                                        </p>

                                    }
                                    else
                                    {
                                        <p class="Giant_Marginbottom1" style="display:block;">
                                            <b>Return AirLines Name :</b> @Model.Rt_AirLineName
                                        </p>
                                    }



                                    @if (Model.Rt_FlightNo == null)
                                    {
                                        <p class="Giant_Marginbottom1" style="display:none">
                                            <b>Return Flight No :</b> @Model.Rt_FlightNo
                                        </p>
                                    }
                                    else
                                    {
                                        <p class="Giant_Marginbottom1" style="display:block;">
                                            <b>Return Flight No :</b> @Model.Rt_FlightNo
                                        </p>
                                    }

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-condensed" data-toggle="table">
                        <thead>
                            <tr>
                                <th class="he4">One Way :-</th>
                            </tr>
                            <tr>
                                <th class="he4">DEP. DATE</th>
                                <th class="he4">DEP. TIME</th>
                                <th class="he4">ARR. DATE</th>
                                <th class="he4">ARR. TIME</th>
                                <th class="he4">DEP. TERMINAL</th>
                                <th class="he4">ARR. TERMINAL</th>
                                <th class="he4">RBD</th>
                                <th class="he4">FARE BASIS</th>
                                <th class="he4">CLASS TYPE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="he text-center">
                                    @Html.DisplayFor(model => model.Departure_Date)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(model => model.DepartureTime)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(model => model.Arrival_Date)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(model => model.ArrivalTime)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(model => model.DepartureTerminal)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(model => model.ArrivalTerminal)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(model => model.RBD)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(model => model.fareBasis)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(model => model.ClassType)
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div><br />
            @if (Model.Rt_Departure_Date == null)
            {
                <div class="row" style="display:none;">
                    <div class="col-sm-12">
                        <table class="table table-bordered table-condensed" data-toggle="table">
                            <thead>
                                <tr>
                                    <th>Round Trip :-</th>
                                </tr>
                                <tr>
                                    <th>Rt_DEP. DATE</th>
                                    <th>Rt_DEP. TIME</th>
                                    <th>Rt_ARR. DATE</th>
                                    <th>Rt_ARR. TIME</th>
                                    <th>Rt_DEP. TERMINAL</th>
                                    <th>Rt_ARR. TERMINAL</th>
                                    <th>Rt_RBD</th>
                                    <th>Rt_FARE BASIS</th>
                                    <th>Rt_Class Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="he3 text-center">
                                        @Html.DisplayFor(model => model.Rt_Departure_Date)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(model => model.Rt_DepartureTime)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(model => model.Rt_Arrival_Date)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(model => model.Rt_ArrivalTime)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(model => model.Rt_DepartureTerminal)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(model => model.Rt_ArrivalTerminal)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(model => model.Rt_RBD)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(model => model.Rt_fareBasis)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(Model => Model.Rt_ClassType)
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            }
            else
            {
                <div class="row" style="display:block;">
                    <div class="col-sm-12">
                        <table class="table table-bordered table-condensed" data-toggle="table">
                            <thead>
                                <tr>
                                    <th>Round Trip :-</th>
                                </tr>
                                <tr>
                                    <th>Rt_DEP. DATE</th>
                                    <th>Rt_DEP. TIME</th>
                                    <th>Rt_ARR. DATE</th>
                                    <th>Rt_ARR. TIME</th>
                                    <th>Rt_DEP. TERMINAL</th>
                                    <th>Rt_ARR. TERMINAL</th>
                                    <th>Rt_RBD</th>
                                    <th>Rt_FARE BASIS</th>
                                    <th>Rt_Class Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="he3 text-center">
                                        @Html.DisplayFor(model => model.Rt_Departure_Date)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(model => model.Rt_DepartureTime)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(model => model.Rt_Arrival_Date)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(model => model.Rt_ArrivalTime)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(model => model.Rt_DepartureTerminal)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(model => model.Rt_ArrivalTerminal)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(model => model.Rt_RBD)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(model => model.Rt_fareBasis)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(Model => Model.Rt_ClassType)
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            }
     
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-condensed" data-toggle="table">
                        <thead>
                            <tr>
                                <th>Fare Rule</th>
                                <th>TOTAL SEATS</th>
                                <th>USED SEATS</th>
                                <th>AVL. SEATS</th>
                                <th>Bag Info</th>
                                <th>BASIC FARE</th>
                                <th>YQ</th>
                                <th>YR</th>
                                <th>WO</th>
                                <th>OT</th>
                                <th>GROSS TOTAL</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="he2 text-center">
                                    @Html.DisplayFor(model => model.FareRule)
                                </td>
                                <td class="he2 text-center">
                                    @Html.DisplayFor(model => model.Total_Seats)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(model => model.Used_Seat)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(model => model.Avl_Seat)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(Model => Model.BagInfo)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(model => model.Basicfare)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(model => model.YQ)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(model => model.YR)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(model => model.WO)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(model => model.OT)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(model => model.GROSS_Total)
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <p>
                                        <b class="fontwaight">MARKUP TYPE :</b> @Model.Markup_Type
                                    </p>
                                </td>
                                <td colspan="2">
                                    <p>
                                        <b class="fontwaight"> ADMIN MARKUP : </b>
                                        @if (Model.Admin_Markup == null)
                                        {
                                            <b style="font-weight:100;">0</b>
                                        }
                                        @Model.Admin_Markup
                                    </p>
                                </td>
                                <td colspan="2">
                                    <p>
                                        <b class="fontwaight">MARKUP % :</b>
                                        @if (Model.Markup == null)
                                        {
                                            <b style="font-weight:100;">0</b>
                                        }
                                        @Model.Markup
                                    </p>
                                </td>
                                <td colspan="3" class="text-right">
                                    <b class="fontwaight "> GRAND TOTAL</b>
                                </td>
                                <td colspan="2" class="text-center text-danger">
                                    ₹ @Model.Grand_Total
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
</div>
</div>

<style>
    .he4 {
        height: 29px !important;
        padding: 5px !important;
    }
    .he2 {
        height: 100px !important;
    }

    .he {
        height: 80px !important;
    }
    .he3 {
        height: 80px !important;
    }
    .fontwaight {
        font-weight: 600;
    }

    .margintop {
        margin-top: 5px;
        padding: 3px;
    }

    .margin_top_19px {
        margin-top: -19px;
        color: #337ab7;
    }

    .panel {
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }

    .Giant_Marginbottom1 {
        margin-bottom: -7px;
    }

    .table-bordered {
        border: 1px solid #ddd;
    }

    .fixed-table-container {
        border: 1px solid #ffffff;
    }
</style>