﻿@model FixedDD.Models.FlightTicketReportModel

@{
    ViewBag.Title = "HoldPnrRequest";
    Layout = "~/Views/Shared/SeeingoMaster.cshtml";
}

<link href="~/Content/fancybox/jquery.fancybox.css" rel="stylesheet" />
<style>
    .table thead tr th {
        font-size: 14px;
        font-weight: 100 !important;
        color: #337ab7 !important;
    }
</style>
<fieldset>
    <legend>
        <span class="glyphicon glyphicon-list-alt"></span> Fixed Departure Hond  Pnr list
    </legend>
</fieldset>


<div class="row form-group">
    <div id="tbldata">
         <div class="table-responsive text-nowrap">
            <table class="table table-striped table-condensed" data-height="430" data-toggle="table">
                <thead>
                    <tr>                        
                        <th>
                            OrderiD
                        </th>
                        <th>
                            Sector
                        </th>
                        <th>
                            Airline
                        </th>
                        <th>
                            AgentID
                        </th>
                        <th>
                            Booking Cost
                        </th>
                        <th>
                            Pax Count
                        </th>
                        <th>
                            Booking Date
                        </th>
                        <th>Pax Name</th>
                        <th>PNR</th>                  
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Totalcount > 0)
                    {
                        foreach (var item in Model.TicketReportlist)
                        {
                            <tr>
                                <td><a href="#">@item.OrderId</a></td>
                                <td>@item.sector</td>
                                <td>@item.VC</td>
                                <td>@item.AgentId</td>
                                <td>@item.TotalAfterDis</td>
                                <td>@item.Adult</td>
                                <td>@item.CreateDate</td>
                                <td>@item.PgFName &nbsp;@item.PgLName </td>
                                <td>
                                    <a data-fancybox-type="iframe" data-fancybox-href="@Url.Action("UpdatPnr", "FlightSearchResults", new { orderid = item.OrderId ,totalcost=item.TotalAfterDis})" class="edit2"><span style="color:forestgreen;">Update Pnr</span></a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="11" class="text-center text-danger">No Record Found</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<style>
    .btn-info:hover {
        cursor: no-drop;
    }

    .hiddenRow {
        padding: 0 4px !important;
        display: none;
    }

    .showRow {
        padding: 0 4px !important;
        display: block;
    }
</style>
<script src="~/Content/fancybox/jquery.fancybox.js"></script>
<script src="~/Content/fancybox/common.js"></script>
