﻿@using System.Linq;
@model IEnumerable<FixedDD.Models.FlightSearchResults>

@{
    ViewBag.Title = "Flight Search Results";
    Layout = "~/Views/Shared/SeeingoMaster.cshtml";
}
<script src="~/Content/dropdown_search_box/js/select2.min.js"></script>
<link href="~/Content/dropdown_search_box/css/select2.min.css" rel="stylesheet" />
<link href="~/Content/fancybox/jquery.fancybox.css" rel="stylesheet" />

<style>
    .table thead tr th {
        font-size: 14px;
        font-weight: 600 !important;
        color: #3f4f62!important;
    }
</style>
<fieldset>
    <legend>
        <span class="glyphicon glyphicon-list-alt"></span> PNR List
    </legend>
</fieldset>
<div class="col-lg-12">
    @try
    {

        if (TempData["Msg"] != null)
        {
            if (TempData["Msg"].ToString() == "0")
            {
                <div class="alert alert-warning">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Warning!</strong> Record Already Exist. Unable to Save !
                </div>
            }
            else if (TempData["Msg"].ToString() == "1")
            {
                <div class="alert alert-success">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Success!</strong> Record submitted successfully!
                </div>
            }
            else if (TempData["Msg"].ToString() == "2")
            {
                <div class="alert alert-success">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Success!</strong> Record Update successfully!
                </div>
            }
            else if (TempData["Msg"].ToString() == "3")
            {
                <div class="alert alert-danger">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Success!</strong> Record Delete successfully!
                </div>
            }
            else if (TempData["Msg"].ToString() == "4")
            {
                <div class="alert alert-danger">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Success!</strong> Unable To Delete The Record. Data  used at another place.!
                </div>
            }
        }
    }
    catch { }
</div>

<div class="row form-group" style=" border: 1px solid #ccc; padding: 10px; box-shadow: 0px 0px 2px #ccc; border-radius: 4px !important;">
    <div class="col-sm-4">
        <a href="~/FlightSearchResults/Create" class="btn btn-primary btn-sm"><span class="fa fa-plus-circle"></span> Add New PNR </a>
        <button class="btn btn-sm btn-info pull-left"> <span class="glyphicon glyphicon-ok-circle"></span>Totat Record (@ViewBag.totalrecord)</button>
    </div>
    <div class="col-sm-8">
        <form method="post" action="Index">
            <div class="row">
                <div class="col-sm-5">
                    <select class="form-control" id="from" name="from">
                        <option value="">Select From</option>
                        @{ System.Data.DataTable dt = FixedDD.Models.Global.GetOrgDestFromSelect();}
                        @for (int i = 0; i < dt.Rows.Count; i++)
                        {
                            <option value="@dt.Rows[i][0].ToString()">@dt.Rows[i][0].ToString()</option>
                        }
                    </select>
                    <script>
                        $('#from').val('@ViewBag.from');
                    </script>
                </div>
                <div class="col-sm-5">
                    <select class="form-control" id="to" name="to">
                        <option value="">Select To</option>
                        @{ System.Data.DataTable dts = FixedDD.Models.Global.GetOrgDestFromTo();}
                        @for (int i = 0; i < dts.Rows.Count; i++)
                        {
                            <option value="@dts.Rows[i][0].ToString()">@dts.Rows[i][0].ToString()</option>
                        }
                    </select>
                    <script>
                            $('#to').val('@ViewBag.To');
                    </script>
                </div>
                <div class="col-sm-2">
                    <input type="submit" class="btn btn-warning btn-sm form-control maincss" onclick="return CheckForm()" value="Search" />
                    <span class="btn btn-warning btn-sm form-control tempscss hidden">Please Wait..<i class="fa fa-spinner fa-spin"></i></span>
                </div>
            </div>
        </form>
    </div>
    @*<div class="col-sm-2 pull-right">
            <div class="input-group">
                <span class="input-group-addon">Page</span>
                <select id="txtSelect" name="txtSelect" class="form-control" onchange="NextPage()">
                    @{ int totalrecord = ViewBag.totalrecord;}
                    @for (int i = 1, count = 0; count < totalrecord; i++, count = count + 10)
                    {
                        <option>@i</option>
                    }
                </select>
            </div>
        </div>*@
</div>

<div class="row form-group">
    <div id="tbldata">
        <div class="table-responsive text-nowrap">
            <table class="table table-striped table-condensed" data-height="430" data-toggle="table">
                <thead>
                    <tr>
                        <th>
                            Action
                        </th>
                        @*<th>
                                Trip Type
                            </th>*@
                        <th>
                            Sector
                        </th>
                        <th>
                            Reference
                        </th>
                        <th>
                            From
                        </th>
                        <th>
                            To
                        </th>
                        <th>
                            Airlines
                        </th>
                        <th>PNR</th>
                        <th>
                            Dep Date
                        </th>
                        @*<th>
                                Dep Time
                            </th>*@
                        <th>
                            Avl Seat
                        </th>
                        <th>
                            Markup 1
                        </th>
                        <th>
                            Markup 2
                        </th>
                        <th>Fare</th>

                    </tr>
                </thead>
                <tbody>

                    @{
                        string UserID = Session["userid"].ToString();

                        List<FixedDD.Models.FlightSearchResults> modelList = Model.ToList();
                        List<string> refNumberList = modelList.Select(p => p.RefNo).Distinct().ToList();

                        //List<string> stdList = ((IQueryable)Model).Cast<FixedDD.Models.FlightSearchResults>().Where(y => y.RefNo != null && y.CreatedByUserid == UserID).Select(x => x.RefNo).Distinct().ToList();
                        //List<FixedDD.Models.FlightSearchResults> stdList2 = ((IQueryable)Model).Cast<FixedDD.Models.FlightSearchResults>().Where(y => y.RefNo != null && y.CreatedByUserid == UserID).ToList();

                        foreach (var refNO in refNumberList)
                        {
                            var noOfRecord = modelList.Where(x => x.RefNo == Convert.ToString(refNO)).Distinct().ToList();

                            int c = noOfRecord.Count();
                            string sector = "";
                            if (c == 1)
                            {
                                sector = "Direct";
                            }
                            else
                            {
                                sector = "Connected";
                            }

                            int aa = 1;
                            foreach (var item in noOfRecord)
                            {

                                if (aa == 1)
                                {
                                    <tr id="s_@item.RefNo" class="MOH">
                                        @*<tr data-toggle="collapse" data-target="#@item.refno" class="accordion-toggle">*@
                                        <td>

                                            <div class="btn-group" style="width:50px;">
                                                <a href="/FlightSearchResults/Connect/@item.id" class="btn btn-warning btn-xs" data-toggle="tooltip" title="Conncet"><span class="glyphicon glyphicon-edit"></span></a>
                                                @*<a href="/FlightSearchResults/Details/@item.id" class="btn btn-success btn-xs" data-toggle="tooltip" title="Detail"><span class="glyphicon glyphicon-fullscreen"></span></a>*@
                                                <a href="/FlightSearchResults/Delete/@item.id" class="btn btn-danger btn-xs" data-toggle="tooltip" title="Delete"><span class="glyphicon glyphicon-remove"></span></a>
                                            </div>
                                        </td>

                                        @*<td>
                                                @item.Triptype
                                            </td>*@
                                        <td>
                                            <a href="#">@sector</a>
                                        </td>
                                        <td>
                                            @item.RefNo
                                        </td>
                                        <td>
                                            @item.OrgDestFrom
                                        </td>
                                        <td>
                                            @item.OrgDestTo
                                        </td>
                                        <td>
                                            @item.AirLineName
                                        </td>
                                        <td>
                                            @if (!string.IsNullOrEmpty(item.fareBasis))
                                            {
                                                <span class="text-success">@item.fareBasis</span>
                                            }
                                            else
                                            {
                                                <span>--</span>
                                            }
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Departure_Date)
                                        </td>
                                        @*<td>
                                                @item.DepartureTime
                                            </td>*@
                                        @*<td>
                                                @item.ArrivalTime
                                            </td>*@
                                        <td class="text-center">
                                            <a data-fancybox-type="iframe" data-fancybox-href="@Url.Action("AddSeat", "FlightSearchResults", new { id = item.id, seat2 = item.Avl_Seat })" class="edit2"><span style="color:forestgreen;">@item.Avl_Seat <br />ADD Seat</span></a>
                                        </td>
                                        <td class="text-center">
                                            <a data-fancybox-type="iframe" data-fancybox-href="@Url.Action("Markup1", "FlightSearchResults", new { fddid = item.id,aircode=item.MarketingCarrier,org=item.DepAirportCode,dest=item.ArrAirportCode,flightno=item.FlightNo})" class="edit3"><span style="color:black;">Markup 1</span></a>
                                        </td>
                                        <td class="text-center">
                                            <a data-fancybox-type="iframe" data-fancybox-href="@Url.Action("Markup2", "FlightSearchResults", new { fddid = item.id,aircode=item.MarketingCarrier,org=item.DepAirportCode,dest=item.ArrAirportCode,flightno=item.FlightNo})" class="edit3"><span style="color:black;">Markup 2</span></a>
                                        </td>
                                        <td class="text-center">
                                            <a data-fancybox-type="iframe" data-fancybox-href="@Url.Action("MeangeFare", "FlightSearchResults", new { id = item.id,basefare=item.Basicfare,YQ=item.YQ,YR=item.YR,WO=item.WO,OT=item.OT,Markup=item.Admin_Markup ,GrandTotal=item.Grand_Total})" class="edit3"><span style="color:red;">@item.FareDet@item.Grand_Total <br />Manage</span></a>
                                        </td>

                                    </tr>
                                }
                                else
                                {
                                    <tr class="hiddenRow H_@item.RefNo">


                                        @*<tr class="accordian-body collapse @item.RefNo" id="@item.RefNo">*@
                                        <td>

                                            <div class="btn-group">
                                                <a href="/FlightSearchResults/Edit/@item.id" class="btn btn-warning btn-xs" data-toggle="tooltip" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                                                @*<a href="/FlightSearchResults/Details/@item.id" class="btn btn-success btn-xs" data-toggle="tooltip" title="Detail"><span class="glyphicon glyphicon-fullscreen"></span></a>*@
                                                <a href="/FlightSearchResults/Delete/@item.id" class="btn btn-danger btn-xs" data-toggle="tooltip" title="Delete"><span class="glyphicon glyphicon-remove"></span></a>
                                            </div>
                                        </td>

                                        @*<td style="background:red !important;">
                                                @item.Triptype
                                            </td>*@
                                        <td></td>
                                        <td>
                                            <div style="background:#e5982c">
                                                @item.RefNo
                                            </div>
                                        </td>

                                        <td>
                                            @item.OrgDestFrom
                                        </td>
                                        <td>
                                            @item.OrgDestTo
                                        </td>
                                        <td>
                                            @item.AirLineName
                                        </td>
                                        @*<td>
                                                @item.FlightNo
                                            </td>*@
                                        <td>
                                            @if (!string.IsNullOrEmpty(item.fareBasis))
                                            {
                                                <span class="text-success">@item.fareBasis</span>
                                            }
                                            else
                                            {
                                                <span>--</span>
                                            }
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Departure_Date)
                                        </td>
                                        @*<td>
                                                @item.DepartureTime
                                            </td>*@
                                        @*<td>
                                                @item.ArrivalTime
                                            </td>*@
                                        <td class="text-center">
                                            <a data-fancybox-type="iframe" data-fancybox-href="@Url.Action("AddSeat", "FlightSearchResults", new { id = item.id, seat2 = item.Avl_Seat })" class="edit2"><span style="color:forestgreen;">@item.Avl_Seat <br />ADD Seat</span></a>
                                        </td>
                                        <td class="text-center">
                                            <a data-fancybox-type="iframe" data-fancybox-href="@Url.Action("Markup1", "FlightSearchResults", new { fddid = item.id,aircode=item.MarketingCarrier,org=item.DepAirportCode,dest=item.ArrAirportCode,flightno=item.FlightNo})" class="edit3"><span style="color:red;">Markup 1</span></a>
                                        </td>
                                        <td class="text-center">
                                            <a data-fancybox-type="iframe" data-fancybox-href="@Url.Action("Markup2", "FlightSearchResults", new { fddid = item.id,aircode=item.MarketingCarrier,org=item.DepAirportCode,dest=item.ArrAirportCode,flightno=item.FlightNo})" class="edit3"><span style="color:black;">Markup 2</span></a>
                                        </td>
                                        <td class="text-center">
                                            <a data-fancybox-type="iframe" data-fancybox-href="@Url.Action("MeangeFare", "FlightSearchResults", new { id = item.id,basefare=item.Basicfare,YQ=item.YQ,YR=item.YR,WO=item.WO,OT=item.OT,Markup=item.Admin_Markup ,GrandTotal=item.Grand_Total})" class="edit3"><span style="color:red;">@item.FareDet@item.Grand_Total <br />Markup 1</span></a>
                                        </td>
                                    </tr>

                                }
                                aa++;
                            }

                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<style>
    .btn-info:hover {
        cursor: no-drop;
    }

    .hiddenRow {
        padding: 0 4px !important;
        display: none;
    }

    .showRow {
        padding: 0 4px !important;
        display: block;
    }
</style>
<script src="~/Content/fancybox/jquery.fancybox.js"></script>
<script src="~/Content/fancybox/common.js"></script>
<script>
    $("#from").select2();
    $("#to").select2();
    //var NextPage = function () {
    //    var PageNo = $('#txtSelect').val();
    //    $.get('/FlightSearchResults/NextResult?page=' + PageNo, function (data) {
    //        $('#tbldata').html(data);
    //    });
    //}
    function CheckForm() {
        $('.maincss').addClass('hidden');
        $('.tempscss').removeClass('hidden');
    }
    $(document).on("click", ".MOH", function (e) {
        debugger
        var rowid = this.id;
        var itemId = rowid.substring(2, rowid.length);
        //   $('.H_'+itemId).show();
        $('.H_' + itemId).toggle();


    })

            //$('.accordian-body').on('show.bs.collapse', function () {
            //    $(this).closest("table")
            //        .find(".collapse.in")
            //        .not(this)
            //        .collapse('toggle')
            //})

</script>
