﻿@model FixedDD.Models.FlightLedgerReportModel

@{
    ViewBag.Title = "LedgerReport";
    Layout = "~/Views/Shared/SeeingoMaster.cshtml";
}
<script src="~/Scripts/jquery-1.11.3.min.js"></script>
<link href="~/clockpicker.css" rel="stylesheet" />
<style>
    .table-bordered {
        border: 1px solid #ddd;
    }
    .fixed-table-body thead th .th-inner {
        box-sizing: border-box;
        background: #ccc;
    }
    .fixed-table-container thead th .th-inner, .fixed-table-container tbody td .th-inner {
        padding: 3px;
        line-height: 17px;
        vertical-align: top;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>
<fieldset>
    <legend>
        <span class="glyphicon glyphicon-list-alt"></span> Ledger Report List
    </legend>
</fieldset>
<div class="form-group">
    <div class="col-sm-12 form-group" style="border: 1px solid #ccc;padding: 6px;">
        @using (Html.BeginForm("LedgerReport", "FlightSearchResults", FormMethod.Post))
        {
            <div class="row form-group">
                <div class="col-sm-12">
                    <div class="col-sm-3">
                        <label>From</label>
                        @Html.TextBoxFor(p => p.FromDate, new { @class = "form-control dateAllFormate", placeholder = "dd/mm/yyy" })
                    </div>
                    <div class="col-sm-3">
                        <label>To</label>
                        @Html.TextBoxFor(p => p.ToDate, new { @class = "form-control dateAllFormate", placeholder = "dd/mm/yyy" })
                    </div>
                    <div class="col-sm-3">
                        <input type="submit" name="submitButton" class="btn btn-success form-control maincss" style="cursor:pointer;margin-top: 25px;" onclick="return CheckForm()" value="SEARCH RESULT" />
                        <span class="btn btn-success form-control tempscss hidden" style="margin-top: 25px;">PLEASE WAIT..<i class="fa fa-spinner fa-spin"></i></span>
                    </div>
                    <div class="col-sm-3">
                        <input type="submit" name="submitButton" class="btn btn-info maincssex form-control" style="cursor:pointer;margin-top: 25px;" onclick="return CheckFormEX()" value="EXPORT" />
                        <span class="btn btn-info form-control tempscssex hidden" style="margin-top: 25px;">PLEASE WAIT..<i class="fa fa-spinner fa-spin"></i></span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="table-responsive text-nowrap">
            <table class="table table-striped table-condensed" data-toggle="table">
                <thead>
                    <tr>
                        <th>AGENCY ID</th>
                        <th>AGENCY NAME</th>
                        <th>ORDER NO</th>
                        <th>PNR</th>
                        <th>AIR CODE</th>
                        <th>TICKET NO</th>
                        <th>DR.</th>
                        <th>CR.</th>
                        <th>BALANCE</th>
                        <th>BOOKING TYPE</th>
                        <th>CREATED DATE</th>
                        <th>REMARK</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Totalcount > 0)
                    {
                        foreach (var item in Model.LedgerReportlist)
                        {
                            <tr>
                                <td>@item.AgencyID</td>
                                <td>@item.AgencyName</td>
                                <td><a href="#">@item.InvoiceNo</a></td>
                                <td>@item.PnrNo</td>
                                <td>@item.Aircode</td>
                                <td>@item.TicketNo</td>
                                <td>@item.Debit</td>
                                <td>@item.Credit</td>
                                <td>@item.Aval_Balance</td>
                                <td>@item.BookingType</td>
                                <td>@item.CreatedDate</td>
                                <td>@item.Remark</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="12" class="text-center text-danger">No Record Found</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<link href="~/Content/DatePickerMYcss.css" rel="stylesheet" />
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="~/Scripts/FltSearchResult.js"></script>
<script>
    function CheckForm() {
        $('.maincss').addClass('hidden');
        $('.tempscss').removeClass('hidden');
    }
    function CheckFormEX() {
        $('.maincssex').addClass('hidden');
        $('.tempscssex').removeClass('hidden');
    }
</script>