﻿@model FixedDD.Models.MarkupModel
@{
    ViewBag.Title = "Markup1";
    Layout = "~/Views/Shared/Popup.cshtml";
}
<style>
    .heading {
        text-align: center;
        display: block !important;
        background: #ecf3f9 !important;
        color: red;
        padding: 5px;
    }

    .row_border {
        border: 1px solid #000;
        padding: 5px;
    }
</style>

<div class="container-fluid">
    <div class="row form-group row_border">
        @using (Html.BeginForm())
        {
            <div class="col-sm-12 form-group">
                <label class="heading">Markup 1</label>
            </div>
            if (!string.IsNullOrEmpty(Convert.ToString(TempData["Msg"])))
            {
                <div class="alert alert-success">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>@Convert.ToString(TempData["Msg"])</strong>
                </div>
            }
            else
            {
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 form-group form-validation">
                            <label>Markup Type</label>
                            @Html.DropDownList("MarkupType", new List<SelectListItem>
                            {
                            new SelectListItem{ Text="FIXED", Value = "F" },
                           new SelectListItem{ Text="PERCENTAGE", Value = "P" },

                             }, new { @class = "form-control" })
                        </div>
                        <div class="col-sm-6 form-group form-validation">
                            <label>Markup Basic</label>
                            @Html.TextBoxFor(b => b.CommisionOnBasic, new { @class = "form-control  row-total", placeholder = "Commision on basic.." })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 form-group form-validation">
                            <label>Markup YQ</label>
                            @Html.TextBoxFor(b => b.CommissionOnYq, new { @class = "form-control row-total ", placeholder = "Markup YQ.." })
                        </div>
                        <div class="col-sm-3 form-group form-validation">
                            <label>Markup(BASIC+YQ) </label>
                            @Html.TextBoxFor(b => b.CommisionOnBasicYq, new { @class = "form-control row-total ", placeholder = "Markup(BASIC+YQ).." })
                        </div>
                        <div class="col-sm-3 form-group form-validation">
                            <label> Amount </label>
                            @Html.TextBoxFor(b => b.Amount, new { @class = "form-control row-total ", placeholder = "amount.." })
                            <input type="hidden" id="Airline" name="Airline" value="@Model.Airline" />
                            <input type="hidden" id="Org" name="Org" value="@Model.Org" />
                            <input type="hidden" id="Dest" name="Dest" value="@Model.Dest" />
                            <input type="hidden" id="FlightNo" name="FlightNo" value="@Model.FlightNo" />
                            <input type="hidden" id="Counter" name="Counter" value="@Model.Counter" />
                        </div>
                        <div class="col-sm-3 form-group">
                            <input type="submit" class="btn btn-info btn-sm form-control maincss" style="margin-top: 25px;" onclick="return CheckForm()" value="SUBMIT" />
                            <span class="btn btn-info btn-sm form-control tempscss hidden" style="margin-top: 25px;">PLEASE WAIT..<i class="fa fa-spinner fa-spin"></i></span>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
<script src="~/Content/fancybox/common.js"></script>
<script>
    function CheckForm() {       
        $('.maincss').addClass('hidden');
        $('.tempscss').removeClass('hidden');
    }
</script>

