﻿@model IQueryable<FixedDD.Models.FlightSearchResults>


<link href="~/Content/bootstrap-table.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-table.js"></script>

<div class="">
    <div id="tbldata">

        <div class="table-responsive text-nowrap">
            <table class="table table-striped table-condensed" data-height="430" data-toggle="table">
                <thead>
                    <tr>
                        <th>
                            Action
                        </th>
                        <th>
                            Trip Type
                        </th>
                        <th>
                            Sector
                        </th>
                        <th>
                            Reference
                        </th>
                        <th>
                            From
                        </th>
                        <th>
                            To
                        </th>
                        <th>
                            Airlines
                        </th>
                        <th>
                            Flight No
                        </th>
                        <th>PNR</th>
                        <th>
                            Dep Date
                        </th>
                        <th>
                            Dep Time
                        </th>
                        <th>
                            Arv Time
                        </th>
                        <th>
                            Avl Seat
                        </th>
                        <th>Fare</th>
                    </tr>
                </thead>
                <tbody>

                    @{
                        string UserID = Session["userid"].ToString();

                        List<FixedDD.Models.FlightSearchResults> modelList = Model.ToList();
                        List<string> refNumberList = modelList.Select(p => p.RefNo).Distinct().ToList();

                        //List<string> stdList = ((IQueryable)Model).Cast<FixedDD.Models.FlightSearchResults>().Where(y => y.RefNo != null && y.CreatedByUserid == UserID).Select(x => x.RefNo).Distinct().ToList();
                        //List<FixedDD.Models.FlightSearchResults> stdList2 = ((IQueryable)Model).Cast<FixedDD.Models.FlightSearchResults>().Where(y => y.RefNo != null && y.CreatedByUserid == UserID).ToList();

                        foreach (var refNO in refNumberList)
                        {
                            var noOfRecord = modelList.Where(x => x.RefNo == Convert.ToString(refNO)).Distinct().ToList();

                            int c = noOfRecord.Count();
                            string sector = "";
                            if (c == 1)
                            {
                                sector = "Direct";
                            }
                            else
                            {
                                sector = "Connected";
                            }

                            int aa = 1;
                            foreach (var item in noOfRecord)
                            {

                                if (aa == 1)
                                {
                                    <tr id="s_@item.RefNo" class="MOH">
                                        @*<tr data-toggle="collapse" data-target="#@item.refno" class="accordion-toggle">*@
                                        <td>

                                            <div class="btn-group" style="width:50px;">
                                                <a href="/FlightSearchResults/Connect/@item.id" class="btn btn-warning btn-xs" data-toggle="tooltip" title="Conncet"><span class="glyphicon glyphicon-edit"></span></a>
                                                @*<a href="/FlightSearchResults/Details/@item.id" class="btn btn-success btn-xs" data-toggle="tooltip" title="Detail"><span class="glyphicon glyphicon-fullscreen"></span></a>*@
                                                <a href="/FlightSearchResults/Delete/@item.id" class="btn btn-danger btn-xs" data-toggle="tooltip" title="Delete"><span class="glyphicon glyphicon-remove"></span></a>
                                            </div>
                                        </td>

                                        <td>
                                            @item.Triptype
                                        </td>
                                        <td>
                                            <a href="#">@sector</a>
                                        </td>
                                        <td>
                                            @item.RefNo
                                        </td>
                                        <td>
                                            @item.OrgDestFrom
                                        </td>
                                        <td>
                                            @item.OrgDestTo
                                        </td>
                                        <td>
                                            @item.AirLineName
                                        </td>
                                        <td>
                                            @item.FlightNo
                                        </td>
                                        <td>
                                            @if (!string.IsNullOrEmpty(item.fareBasis))
                                            {
                                                <span class="text-success">@item.fareBasis</span>
                                            }
                                            else
                                            {
                                                <span>--</span>
                                            }
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Departure_Date)
                                        </td>
                                        <td>
                                            @item.DepartureTime
                                        </td>
                                        <td>
                                            @item.ArrivalTime
                                        </td>
                                        <td class="text-center">
                                            <a data-fancybox-type="iframe" data-fancybox-href="@Url.Action("AddSeat", "FlightSearchResults", new { id = item.id, seat2 = item.Avl_Seat })" class="edit2"><span style="color:forestgreen;">@item.Avl_Seat <br />ADD Seat</span></a>
                                        </td>
                                        <td class="text-center">
                                            <a data-fancybox-type="iframe" data-fancybox-href="@Url.Action("MeangeFare", "FlightSearchResults", new { id = item.id,basefare=item.Basicfare,YQ=item.YQ,YR=item.YR,WO=item.WO,OT=item.OT,Markup=item.Admin_Markup ,GrandTotal=item.Grand_Total})" class="edit3"><span style="color:forestgreen;">@item.Grand_Total <br />Manage</span></a>
                                        </td>

                                    </tr>
                                }
                                else
                                {
                                    <tr class="hiddenRow H_@item.RefNo">


                                        @*<tr class="accordian-body collapse @item.RefNo" id="@item.RefNo">*@
                                        <td>

                                            <div class="btn-group" style="width:50px;">
                                                <a href="/FlightSearchResults/Edit/@item.id" class="btn btn-warning btn-xs" data-toggle="tooltip" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                                                @*<a href="/FlightSearchResults/Details/@item.id" class="btn btn-success btn-xs" data-toggle="tooltip" title="Detail"><span class="glyphicon glyphicon-fullscreen"></span></a>*@
                                                <a href="/FlightSearchResults/Delete/@item.id" class="btn btn-danger btn-xs" data-toggle="tooltip" title="Delete"><span class="glyphicon glyphicon-remove"></span></a>
                                            </div>
                                        </td>

                                        <td style="background:red !important;">
                                            @item.Triptype
                                        </td>
                                        <td></td>
                                        <td>
                                            <div style="background:#e5982c">
                                                @item.RefNo
                                            </div>
                                        </td>

                                        <td>
                                            @item.OrgDestFrom
                                        </td>
                                        <td>
                                            @item.OrgDestTo
                                        </td>
                                        <td>
                                            @item.AirLineName
                                        </td>
                                        <td>
                                            @item.FlightNo
                                        </td>
                                        <td>
                                            @if (!string.IsNullOrEmpty(item.fareBasis))
                                            {
                                                <span class="text-success">@item.fareBasis</span>
                                            }
                                            else
                                            {
                                                <span>--</span>
                                            }
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Departure_Date)
                                        </td>
                                        <td>
                                            @item.DepartureTime
                                        </td>
                                        <td>
                                            @item.ArrivalTime
                                        </td>
                                        <td class="text-center">
                                            <a data-fancybox-type="iframe" data-fancybox-href="@Url.Action("AddSeat", "FlightSearchResults", new { id = item.id, seat2 = item.Avl_Seat })" class="edit2"><span style="color: red;">@item.Avl_Seat <br />ADD Seat</span></a>
                                        </td>
                                        <td class="text-center">
                                            <a data-fancybox-type="iframe" data-fancybox-href="@Url.Action("MeangeFare", "FlightSearchResults", new { id = item.id })" class="edit2"><span style="color: red;">@item.Grand_Total <br />Manage</span></a>
                                        </td>
                                    </tr>

                                }
                                aa++;
                            }

                        }
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>

<style>
    .btn-info:hover {
        cursor: no-drop;
    }
</style>

<script>
    var NextPage = function () {
        var PageNo = $('#txtSelect').val();
        $.get('/FlightSearchResults/NextResult?page=' + PageNo, function (data) {
            $('#tbldata').html(data);
        });
    }

</script>
