﻿@model IEnumerable<FixedDD.Models.FlightSearchResults>
@{
    ViewBag.Title = "PNRUpdate";
    Layout = "~/Views/Shared/SeeingoMaster.cshtml";
}
<script src="~/Scripts/jquery-1.11.3.min.js"></script>

@if (!string.IsNullOrEmpty(Convert.ToString(TempData["errorMsg"])))
{
    <div class="panel panel-info">
        <div class="panel-heading PanelHeader">
            <div class="row">
                <div class="col-sm-12">
                    <div class="alert alert-warning">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>@Convert.ToString(TempData["errorMsg"])</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="panel panel-info">
    <div class="panel-heading PanelHeader">
        <div class="row">
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-plus"></span>&nbsp; Update PNR
            </div>
            <div class="col-sm-6">
                @foreach (var item in Model.Take(1))
                {
                    <b>@item.DepartureCityName To @item.ArrivalCityName</b>
                }
            </div>
        </div>
    </div>
    <div class="panel panel-body">
        <div class="panel panel-primary sad">
            <div class="panel panel-body">
                @{int i = 0;}
                @foreach (var item in Model.OrderBy(b => b.id))
                {
                    <input type="hidden" id="@item.id" name="@item.id" />
                    <div class="row form-group">
                        <div class="col-sm-12" style="border-bottom:1px solid #002647">
                            <div class="row form-group">
                                <div class="col-sm-3">
                                    <label>Travel Date</label>
                                    <input type="text" class="form-control" value="@item.Departure_Date" id="Departure_Date_@item.id" name="Departure_Date_@item.id" readonly />
                                </div>
                                <div class="col-sm-3">
                                    <label>Arrival Date</label>
                                    <input type="text" class="form-control ArrivalDate" placeholder="Select Date" id="Arrival_Date_@i" name="Arrival_Date_@i" value="@item.Arrival_Date" readonly />
                                </div>
                                <div class="col-sm-2">
                                    <label>PNR</label>
                                    <input type="text" class="form-control" placeholder="enter Pnr" id="pnr_@i" id2="@item.id" name="pnr_@item.id" />
                                </div>
                                <div class="col-sm-2">
                                    <label>Seat</label>
                                    <input type="text" class="form-control" placeholder="enter seat quantity" onkeypress="return isNumberValidationPrevent(event);" id="AvlSeat_@i" dataId="AvlSeat_@item.id" name="AvlSeat_@item.id" />
                                </div>
                                <div class="col-sm-2">
                                    <label>Infant Fare</label>
                                    <input type="text" class="form-control" placeholder="enter infant fare" onkeypress="return isNumberValidationPrevent(event);" id="InfFar_@i" dataId="InfFar_@item.id" name="InfFar_@item.id" />
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-2">
                                    <label>Basic Fare</label>
                                    <input type="text" class="form-control" onkeyup="return CalculateFare(@i)" onkeypress="return isNumberValidationPrevent(event);" placeholder="enter Basic fare" id="Basicfare_@i" dataId="Basicfare_@item.id" name="Basicfare_@item.id" />
                                </div>
                                <div class="col-sm-2">
                                    <label>YQ</label>
                                    <input type="text" class="form-control" onkeyup="return CalculateFare(@i)" onkeypress="return isNumberValidationPrevent(event);" placeholder="enter YQ.." id="YQ_@i" dataId="YQ_@item.id" name="YQ_@item.id" />
                                </div>
                                <div class="col-sm-2">
                                    <label>YR</label>
                                    <input type="text" class="form-control" onkeyup="return CalculateFare(@i)" onkeypress="return isNumberValidationPrevent(event);" placeholder="enter YR.." id="YR_@i" dataId="YR_@item.id" name="YR_@item.id" />
                                </div>
                                <div class="col-sm-1">
                                    <label>Wo</label>
                                    <input type="text" class="form-control" onkeyup="return CalculateFare(@i)" onkeypress="return isNumberValidationPrevent(event);" placeholder="enter WO.." id="WO_@i" dataId="WO_@item.id" name="WO_@item.id" />
                                </div>
                                <div class="col-sm-1">
                                    <label>OT</label>
                                    <input type="text" class="form-control" onkeyup="return CalculateFare(@i)" onkeypress="return isNumberValidationPrevent(event);" placeholder="enter OT.." id="OT_@i" dataId="OT_@item.id" name="OT_@item.id" />
                                </div>
                                @*<div class="col-sm-2">
                                    <label>Markup</label>
                                    <input type="text" class="form-control" onkeyup="return CalculateFare(@i)" value="0" onkeypress="return isNumberValidationPrevent(event);" placeholder="enter Markup.." id="markup_@i" dataId="markup__@item.id" name="markup__@item.id" readonly="readonly" />
                                </div>*@
                                <div class="col-sm-2">
                                    <label>Grand Total</label>
                                    <input type="text" class="form-control" readonly="readonly" placeholder="grand total" id="Totalamount_@i" dataId="Totalamount_@item.id" name="Totalamount_@item.id" />
                                </div>
                            </div>
                        </div>

                    </div>
                    i++;
                }

                <script>
                    function CalculateFare(currid) {
                        let basefare = ($("#Basicfare_" + currid).val() == "" ? 0 : parseFloat($("#Basicfare_" + currid).val()));
                        let yqfare = ($("#YQ_" + currid).val() == "" ? 0 : parseFloat($("#YQ_" + currid).val()));
                        let yrfare = ($("#YR_" + currid).val() == "" ? 0 : parseFloat($("#YR_" + currid).val()));
                        let wofare = ($("#WO_" + currid).val() == "" ? 0 : parseFloat($("#WO_" + currid).val()));
                        let otfare = ($("#OT_" + currid).val() == "" ? 0 : parseFloat($("#OT_" + currid).val()));
                       /* let markupfare = ($("#markup_" + currid).val() == "" ? 0 : parseFloat($("#markup_" + currid).val()));*/
                        $("#Totalamount_" + currid).val(basefare + yqfare + yrfare + wofare + otfare);
                    }

                    function PNRSubmit(noOfFields) {

                        for (let i = 0; i < noOfFields; i++) {
                            let tempPNRValue = $("#pnr_" + i).val();
                            let tempAmountValue = $("#Totalamount_" + i).val();
                            let tempSeatAvail = $("#AvlSeat_" + i).val();
                            let tempArrivalldate = $("#Arrival_Date_" + i).val();
                            if (tempSeatAvail === '' || tempArrivalldate==='') {
                                alert("Field at Position " + (i + 1) + " is empty..")
                                return !1;
                            }
                        }

                        let PNRList = [];
                        for (let i = 0; i < noOfFields; i++) {
                            let PNR = {};
                            PNR.PNRValue = $("#pnr_" + i).val();
                            PNR.PNRId = $("#pnr_" + i).attr("id2");
                            PNR.SeatAvail = $("#AvlSeat_" + i).val();
                            PNR.Basefare = $("#Basicfare_" + i).val();
                            PNR.ArrivalDate = $("#Arrival_Date_" + i).val();
                            PNR.InfantFare = $("#InfFar_" + i).val();
                            PNR.YQ = $("#YQ_" + i).val();
                            PNR.YR = $("#YR_" + i).val();
                            PNR.WO = $("#WO_" + i).val();
                            PNR.OT = $("#OT_" + i).val();
                           /* PNR.Markup = $("#markup_" + i).val();*/
                            PNR.Amount = $("#Totalamount_" + i).val();
                           
                            PNRList.push(PNR);
                        }

                        $.ajax({
                            type: "Post",
                            url: "/FlightSearchResults/PNRInserter ",
                            data: '{PNRList: ' + JSON.stringify(PNRList) + '}',
                            contentType: "application/json; charset=utf-8",
                            datatype: "json",
                            success: function (data) {
                                if (data === "Success") {
                                    window.location = "Index";//FlightSearchResults/Index";
                                }
                            }
                        });

                    };
                </script>
                <div class="row form-group">
                    <div class="col-sm-12">
                        <input type="submit" class="btn btn-warning btn-sm pull-right" id="btnPNRSubmit" data-noOfFields="@i" onclick="PNRSubmit(@i)" value="Submit" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/fancybox/common.js"></script>
    <link href="~/Content/DatePickerMYcss.css" rel="stylesheet" />
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="~/Scripts/FltSearchResult.js"></script>
</div>
