﻿@model FixedDD.Models.CityList

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/SeeingoMaster.cshtml";
}


<div class="panel panel-info">
    <div class="panel-heading PanelHeader">
        <span class="glyphicon glyphicon-plus"></span>&nbsp; Add New
        <a class="btn btn-default btn-sm pull-right MarginTop5pxup" href="/CityLists/Index"><span class="glyphicon glyphicon-circle-arrow-left"></span> Back To List</a>
    </div>
    <div class="panel panel-body">
        <div class="container-fluid">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row form-group">
                        <div class="col-sm-6">
                            <label>Airport Code</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-list"></span></span>
                                @Html.EditorFor(model => model.AirportCode, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AirportCode, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label>Airport Name</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-list"></span></span>
                                @Html.EditorFor(model => model.AirportName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AirportName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-6">
                            <label>City Name</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-list"></span></span>
                                @Html.EditorFor(model => model.CityName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CityName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label>Country Name</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-list"></span></span>
                                @Html.EditorFor(model => model.CountryName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CountryName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-6">
                            <label>Country Code</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-list"></span></span>
                                @Html.EditorFor(model => model.CountryCode, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CountryCode, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label>Latitude</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-list"></span></span>
                                @Html.EditorFor(model => model.Latitude, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Latitude, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-6">
                            <label>Longitude</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-list"></span></span>
                                @Html.EditorFor(model => model.Longitude, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Longitude, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label>World Area Code</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-list"></span></span>
                                @Html.EditorFor(model => model.WorldAreaCode, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.WorldAreaCode, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">                       
                        <div class="col-sm-6">
                            <label>Orderseq</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-list"></span></span>
                                @Html.EditorFor(model => model.orderseq, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.orderseq, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-12">
                            <input type="submit" value="Create" class="btn btn-primary pull-right" />
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
