﻿@model IQueryable<FixedDD.Models.CityList>

<link href="~/Content/bootstrap-table.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-table.js"></script>

<div class="">
    <div class="col-sm-12">
        <table class="table table-bordered table-condensed" data-height="400" data-toggle="table">
            <thead>
                <tr>
                    <th>
                        Airport Code
                    </th>
                    <th>
                        Airport Name
                    </th>
                    <th>
                        City Name
                    </th>
                    <th>
                        Country Name
                    </th>
                    <th>
                        Country Code
                    </th>
                    <th>
                        Latitude
                    </th>
                    <th>
                        Longitude
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @item.AirportCode
                        </td>
                        <td>
                            @item.AirportName
                        </td>
                        <td>
                            @item.CityName
                        </td>
                        <td>
                            @item.CountryName
                        </td>
                        <td>
                            @item.CountryCode
                        </td>
                        <td>
                            @item.Latitude
                        </td>
                        <td>
                            @item.Longitude
                        </td>

                        <td>
                            <div class="btn-group">
                                <a href="/FixedDeparture/CityLists/Edit/@item.id" class="btn btn-warning btn-xs" data-toggle="tooltip" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                                <a href="/FixedDeparture/CityLists/Details/@item.id" class="btn btn-success btn-xs" data-toggle="tooltip" title="Detail"><span class="glyphicon glyphicon-fullscreen"></span></a>
                                @*<a href="/CityLists/Delete/@item.id" class="btn btn-danger btn-xs" data-toggle="tooltip" title="Delete"><span class="glyphicon glyphicon-remove"></span></a>*@
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

