﻿.Imgheight {
    max-width: 100px;
    max-height: 100px;
    min-width: 100px;
    min-height: 100px;
}

.txtHeight {
    width: 51px;
    height: 22px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}

.margin_top_1_per {
    margin-top: 1%;
}

.GridImgheight {
    max-width: 30px;
    max-height: 30px;
    min-width: 30px;
    min-height: 30px;
}

.Padding {
    padding: 0px;
}

.margin_top_5_Up{
    margin-top:-8px;
}

.Table_header {
    border: solid 0.5px #ddd;
}
.Student_list2 {
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: -1px 1px 4px 6px #888888;
}


    .Student_list img2 {
        height: 114px;
        width: 140px;
    }


.Student_list {
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: -1px 1px 4px 6px #888888;
}

   
    .Student_list img {
        height: 140px;
        width: 140px;
    }
.margin_top_5_per {
    margin-top: 5%;
}
.headincss {
    border-bottom: solid 1px #ddd;
    padding: 0px 0px 5px 5px;
    font-size: 18px;
    margin-bottom: 10px;
}